.textfields {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .none {
    display: none;
  }

  .textfields {
    flex-direction: column;
  }
  .textfields > img {
    margin-right: 300px;
    transform: rotate(90deg);
  }
}
